<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Where your game collection lies</title>
  </head>
  <body>
    <h1>Welcome to Game Collections!</h1>
    <div class="sub-container">
      <a href="/api/games/new/">Add a New Game!</a>
    </div>
    <div class="container">
      <% for (let game = 0; game < allGames.length; game++) { %>
      <div class="game-all">
        <a href="/api/games/<%= allGames[game].dataValues.id %>"
          ><%= allGames[game].dataValues.name %></a
        >
      </div>
      <% } %>
    </div>
  </body>
</html>
